header img {
  width: 33%;
  border-style: solid;
  border-width: 5px;
  border-color: aqua;
}
/* more specific takes precedence */
nav a {
  text-decoration: line-through;
}
a {
  text-decoration: none;
}
/* more recent takes presedence */
p { color: magenta; }
p { color: orange; }
